body {
    background-image: url("https://media.giphy.com/media/czKNwL7pXWHCw/giphy.gif");
    background-size: cover;
    margin:0 auto;
    width:400px;
    text-align: center;
    height: 100vh;
}

/* .wrapWithBackgroundImage {
    background-image: url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwi564qg_ezkAhUQXa0KHWPTB54QjRx6BAgBEAQ&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FDunder_Mifflin&psig=AOvVaw3VQcU2eEgzfbqf-X08TREn&ust=1569535416726834");
}
.invisibleLink {
    display: block;
    left: 55px; top: 55px;
    position: absolute;
    height: 55px;
    width: 55px;
} */
h4, #losses {
    padding: 4px
}
.container {
    /* background-color: black; */
    color: white;
    font-family: 'Anton', sans-serif;
    font: bold;
    /* margin-left: 150px; */
}

.question-container {
    padding: 20px;
}

.picture {
    width: 100%;
    padding-top: 10px;
}

#timeElm {
    padding-top: 10px;
}